# Default ignored files
/shelf/
/.idea/workspace.xml
/.idea/
/gemini-chatbot-api/node_modules/
/gemini-chatbot-api/.env
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
